body {
  background-color: #F4F4F4;
}

.leftarticle {
  display: inline-flex;
}

.container-1 {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 26px;
}

.left-nav {
  padding-left: 88.3px;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}

.left-nav a {
  text-decoration: none;
  color: #AAAAAA;
  padding-left: 29px;
}

.right-nav a {
  text-decoration: none;
  color: #AAAAAA;
  padding-right: 7.8px;
}

.right-nav {
  padding-right: 96px;
  font-size: 14px;
}

.fa-heart::before {
  padding-right: 28px;
}

.fa-angle-down {
  color: #AAAAAA;
}

.travel {
  display: inline-block;
  text-align: center;
  width: 777px;
  margin-left: 128px;
  margin-top: 55px;
  border: solid 1px #EEEEEE;
  background-color: white;
}

.aside1 {
  display: inline-flex;
  text-align: center;
}

.travel>img {
  width: 777px;
  height: 482px;
}

.travelphead {
  margin-top: 39px;
  font-size: 10.5px;
  font-family: 'Open Sans', sans-serif;
  color: #61C1E4;
  font-weight: bold;
}

.travel>h1 {
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
  margin-top: 13px;
  margin-bottom: 22px;
  letter-spacing: 1.5px;
}

.travelpbody {
  font-size: 13.9px;
  font-family: 'Open Sans', sans-serif;
  line-height: 2;
  padding-left: 45px;
  padding-right: 45px;
  text-align: left;
  padding-top: 4px;
  word-spacing: 1.5px;
}

.contBtn {
  padding: 15px 28px 15px 28px;
  font-size: 13.5px;
  font-family: 'Open Sans', sans-serif;
  color: #61C1E4;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-color: #EEEE;
  margin-top: 14px;
  margin-bottom: 25px;
}

.travel-footer {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  padding-left: 46.5px;
  padding-top: 22px;
  font-style: italic;
  padding-right: 38.5px;
}

.travel-icons a {
  text-decoration: none;
  font-size: 16px;
  border-radius: 50%;
  background-color: white;
  padding: 5px;
  margin-right: 10px;
  border-color: #EEEE;
  border-width: 1px;
  border-style: solid;
  color: #AAAAAA;
  margin-bottom: 36px;
}

.fa-facebook::before {
  padding: 5px;
}

.aside1 {
  margin-left: 35px;
  margin-top: 55px;
  border: solid 1px #EEEEEE;
  background-color: white;
  height: 700px;
}

.reedy-river {
  width: 370px;
  height: 187px;
  position: relative;
}

.picOfBrian {
  width: 300px;
  position: absolute;
  right: 162px;
  border-radius: 50%;
  top: 226px;
  border: solid 4px white;
}

.aside1text {
  margin-top: 239px;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1.5px;
}

.aside1p {
  width: 300px;
  font-size: 16.6px;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 22px;
  line-height: 1.6;
}

.aside1-icons a {
  text-decoration: none;
  font-size: 16px;
  border-radius: 50%;
  background-color: white;
  padding: 8px;
  margin-right: 3px;
  border-color: #EEEE;
  border-width: 1px;
  border-style: solid;
  color: #AAAAAA;
  margin-top: 13px;
}

.section-2 {
  display: inline-flex;
  position: relative;
}

.article-2 {
  display: inline-block;
  text-align: center;
  width: 777px;
  margin-left: 128px;
  margin-top: 41px;
  border: solid 1px #EEEEEE;
  background-color: white;
}

.article-2 img {
  width: 777px;
  height: 580px;
}

.artphead {
  margin-top: 39px;
  font-size: 10.5px;
  font-family: 'Open Sans', sans-serif;
  color: #61C1E4;
  font-weight: bold;
}

.article-2 h1 {
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
  margin-top: 13px;
  margin-bottom: 22px;
  letter-spacing: 1.5px;
}

.artpbody {
  font-size: 13.9px;
  font-family: 'Open Sans', sans-serif;
  line-height: 2;
  padding-left: 45px;
  padding-right: 45px;
  text-align: left;
  padding-top: 4px;
  word-spacing: 1.5px;
}

.art-footer {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  padding-left: 46.5px;
  padding-top: 19px;
  font-style: italic;
  padding-right: 38.5px;
}

.art-icons a {
  text-decoration: none;
  font-size: 16px;
  border-radius: 50%;
  background-color: white;
  padding: 5px;
  margin-right: 10px;
  border-color: #EEEE;
  border-width: 1px;
  border-style: solid;
  color: #AAAAAA;
  margin-bottom: 36px;
}

.greenville-drive {
  width: 307px;
  height: 175px;
}

.aside-2 {
  display: inline-block;
  text-align: center;
  margin-left: 35px;
  position: absolute;
  left: 100%;
  bottom: 33.3%;
  padding-left: 29px;
  padding-right: 32px;
  border: solid 1px #EEEEEE;
  background-color: white;
  margin-top: 40px;
  margin-top: 239px;
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
  height: 945px;
}

.aside-2 h1 {
  margin-top: 38px;
  margin-bottom: 25px;
}

.greenville-drive-date {
  text-align: start;
  font-size: 12px;
  margin-top: 20px;
  font-weight: 900;
  margin-bottom: 26px;
}

.fall-for-greenville {
  width: 307px;
  height: 175px;
  margin-top: 21px;
}

.fall-for-greenville-date {
  text-align: start;
  font-size: 12px;
  margin-top: 20px;
  font-weight: 900;
  margin-bottom: 26px;
}

.up-on-the-roof {
  width: 307px;
  height: 175px;
  margin-top: 21px;
}

.up-on-roof-date {
  text-align: start;
  font-size: 12px;
  margin-top: 20px;
  font-weight: 900;
  margin-bottom: 26px;
}

.section-3 {
  display: inline-flex;
  position: relative;
}

.article-3 img {
  width: 777px;
  height: 437px;
}

.article-3 {
  display: inline-block;
  text-align: center;
  width: 777px;
  margin-left: 128px;
  margin-top: 41px;
  border: solid 1px #EEEEEE;
  background-color: white;
}

.entertainmentphead {
  margin-top: 39px;
  font-size: 10.5px;
  font-family: 'Open Sans', sans-serif;
  color: #61C1E4;
  font-weight: bold;
}

.article-3 h1 {
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
  margin-top: 13px;
  margin-bottom: 22px;
  letter-spacing: 1.5px;
}

.entertainmentpbody {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  line-height: 2;
  padding-left: 45px;
  padding-right: 45px;
  text-align: left;
  padding-top: 4px;
  word-spacing: 1.5px;
  margin-bottom: 10px;
}

.entertainment-footer {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  padding-left: 46.5px;
  padding-top: 19px;
  font-style: italic;
  padding-right: 38.5px;
}

.entertainment-icons a {
  text-decoration: none;
  font-size: 16px;
  border-radius: 50%;
  background-color: white;
  padding: 5px;
  margin-right: 10px;
  border-color: #EEEE;
  border-width: 1px;
  border-style: solid;
  color: #AAAAAA;
  margin-bottom: 36px;
}

.aside-3 {
  height: 515px;
  border: solid 1px #EEEEEE;
  background-color: white;
  position: absolute;
  left: 100%;
  margin-left: 35px;
  font-family: 'Open Sans', sans-serif;
  bottom: 80.4%;
  width: 368px;
}

.florence-opera {
  width: 102px;
  height: 80px;
  padding-left: 30px;
  margin-bottom: 3px;
}

.aside-3 h1 {
  font-size: 20px;
  padding-top: 22px;
  text-align: center;
  margin-bottom: 25px;
}

.lastest-post-flex {
  display: flex;
}

.latest-post-1 {
  display: flex;
  font-size: 12px;
  flex-direction: column;
}

.modern-minimalist {
  width: 102px;
  height: 80px;
  padding-left: 30px;
  margin-bottom: 3px;
}

.latest-post-flex-2 {
  display: flex;
}

.latest-post-2 {
  display: flex;
  font-size: 12px;
  flex-direction: column;
}

.latest-post-flex-3 {
  display: flex;
}

.ramsus-warberg-chair {
  width: 102px;
  height: 80px;
  padding-left: 30px;
  margin-bottom: 3px;
}

.latest-post-3 {
  display: flex;
  font-size: 12px;
  flex-direction: column;
}

.latest-post-flex-4 {
  display: flex;
}

.coffee-cup {
  width: 102px;
  height: 80px;
  padding-left: 30px;
  margin-bottom: 3px;
}

.latest-post-4 {
  display: flex;
  font-size: 12px;
  flex-direction: column;
}

.aside-4 {
  width: 375px;
  height: 396px;
  border: solid 1px #EEEEEE;
  background-color: white;
  position: absolute;
  top: 23%;
  left: 100%;
  margin-left: 30px;
  text-align: center;
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
  padding-top: 24px;
}

.aside-4 h1 {
  margin-bottom: 25px;
}

.aside4-pics img {
  width: 99px;
  height: 93px;
  padding-right: 4px;
  padding-bottom: 7px;
}

.section-4 {
  display: inline-flex;
  position: relative;
}

.article-4 img {
  width: 777px;
  height: 518px;
}

.article-4 {
  display: inline-block;
  text-align: center;
  width: 777px;
  margin-left: 128px;
  margin-top: 41px;
  border: solid 1px #EEEEEE;
  background-color: white;
}

.foodphead {
  margin-top: 39px;
  font-size: 10.5px;
  font-family: 'Open Sans', sans-serif;
  color: #61C1E4;
  font-weight: bold;
}

.article-4 h1 {
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
  margin-top: 13px;
  margin-bottom: 22px;
  letter-spacing: 1.5px;
}

.foodpbody {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  line-height: 2;
  padding-left: 45px;
  padding-right: 45px;
  text-align: left;
  padding-top: 4px;
  word-spacing: 1.8px;
  margin-bottom: 10px;
}

.food-footer {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  padding-left: 46.5px;
  padding-top: 19px;
  font-style: italic;
  padding-right: 38.5px;
}

.food-icons a {
  text-decoration: none;
  font-size: 16px;
  border-radius: 50%;
  background-color: white;
  padding: 5px;
  margin-right: 10px;
  border-color: #EEEE;
  border-width: 1px;
  border-style: solid;
  color: #AAAAAA;
  margin-bottom: 36px;
}

.page-footer {
  margin-top: 39px;
  display: flex;
  justify-content: center;
  color: white;
  background-color: black;
  padding: 25px 0px 25px 0px;
}

@media only screen and (max-width: 600px) {
  .container-1 {
    padding: 40px;
  }

  .travel {
    width: 470px;
    margin-left: 14px;
    margin-top: 50px;
    height: 824px;
  }

  .travel>img {
    width: 470px;
    height: 293px;
  }

  .travel>h1 {
    font-size: 22px;
    margin-bottom: -14px;
  }

  .left-nav {
    display: none;
  }

  .right-nav {
    display: none;
  }

  .contBtn {
    padding: 14px 25px 14px 25px;
    margin-top: 11px;
    margin-bottom: 23px;
  }

  .travelpbody {
    font-size: 13px;
    word-spacing: 2.5px;
  }

  .travel-icons {
    padding-top: 28px;
    text-align: end;
  }

  .travel-icons a {
    margin-right: 8px;
  }

  .travel-footer {
    display: block;
    font-size: 12px;
    text-align: start;
    padding-left: 44.5px;
    padding-top: 20px;
  }

  .article-2 {
    width: 470px;
    margin-left: 14px;
    margin-top: 40px;
    height: 933px;
  }

  .article-2>img {
    width: 470px;
    height: 350px;
  }

  .artpbody {
    font-size: 13px;
    word-spacing: 2.5px;
  }

  .article-2>h1 {
    font-size: 22px;
    margin-bottom: 23px;
  }

  .artpbody {
    font-size: 13px;
    word-spacing: 4.5px;
  }

  .art-footer {
    display: block;
    font-size: 12px;
    text-align: start;
    padding-left: 44.5px;
    padding-top: 21px;
  }

  .art-icons {
    padding-top: 27px;
    text-align: end;
  }

  .art-icons a {
    margin-right: 8px;
  }

  .article-3 {
    width: 470px;
    margin-left: 14px;
    margin-top: 40px;
    height: 819px;
  }

  .article-3>img {
    width: 470px;
    height: 263px;
  }
  .article-3>h1{
    font-size:23px;
  }

  .entertainmentpbody {
    font-size: 13px;
    word-spacing: 2.5px;
    margin-bottom: 13px;
  }

  .entertainment-footer {
    display: block;
    font-size: 12px;
    text-align: start;
    padding-left: 44.5px;
    padding-top: 21px;
  }
  .entertainment-icons {
    padding-top: 27px;
    text-align: end;
  }
  .entertainment-icons a {
    margin-right: 8px;
  }
  .article-4 {
    width: 470px;
    margin-left: 14px;
    margin-top: 40px;
    height: 909px;
  }
  .article-4>img {
    width: 470px;
    height: 352px;
  }
  .article-4 >h1{
    font-size: 21px;
  }
  .foodpbody{
    word-spacing: 0px;
    margin-bottom: -3px;
  }
  .food-footer {
    display: block;
    font-size: 12px;
    text-align: start;
    padding-left: 44.5px;
    padding-top: 21px;
  }
  .food-icons {
    padding-top: 27px;
    text-align: end;
  }
  .food-icons a {
    margin-right: 8px;
  }
  .aside1{
    position: relative;
    top: 3645px;
    width: 470px;
    /* margin-left: 20px; */
    display: block;
    right: 51%;
    height: 711px;
  }
  .reedy-river {
    width: 471px;
    height: 183px;
  }
  .picOfBrian {
    width: 398px;
    right: 34px;
    top: 103px;
  }
  .aside1text{
    margin-top: 343px;
    margin-bottom: 0px;
  }
  .aside1p{
    width: 376px;
    font-size: 14px;
    padding-left: 49px;
    margin-bottom: -19px;
    margin-top: 22px;
  }
  .aside1-icons a{
    margin-right: 1px;
  }
}
