body {
  background-color: #F4F4F4;
}

.leftarticle {
  display: inline-flex;
}

.container-1 {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 26px;
}

#hamnav label, #hamburger {
  display: none;
}

.container-1 a:hover {
  color: #94DFF6;
}

.left-nav {
  padding-left: 88.3px;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}

.left-nav>a:first-of-type {
  color: #43C1F2;
}

.left-nav a {
  text-decoration: none;
  color: #AAAAAA;
  padding-left: 29px;
}

.right-nav a {
  text-decoration: none;
  color: #AAAAAA;
  padding-right: 7.8px;
}

.right-nav {
  padding-left: 323px;
  font-size: 14px;
}

.fa-heart::before {
  padding-right: 28px;
}

.fa-angle-down:first-of-type {
  color: #43C1F2;
}

.fa-angle-down {
  color: #EEEEEE;
}

.travel {
  display: inline-block;
  text-align: center;
  width: 777px;
  margin-left: 128px;
  margin-top: 55px;
  border: solid 1px #EEEEEE;
  background-color: white;
  position: relative;
}

.travel>img {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 27%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.travel:hover img {
  opacity: 1;
  filter: grayscale(50%);
}

.travel:hover .middle {
  opacity: 1;
}

.text {
  border: solid 2px white;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.aside1 {
  display: inline-flex;
  text-align: center;
  position: relative;
}

.travel>img {
  width: 777px;
  height: 482px;
}

.travelphead {
  margin-top: 39px;
  font-size: 10.5px;
  font-family: 'Open Sans', sans-serif;
  color: #61C1E4;
  font-weight: bold;
}

.travel>h1 {
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
  margin-top: 13px;
  margin-bottom: 22px;
  letter-spacing: 1.5px;
}

.travelpbody {
  font-size: 13.9px;
  font-family: 'Open Sans', sans-serif;
  line-height: 2;
  padding-left: 45px;
  padding-right: 45px;
  text-align: left;
  padding-top: 4px;
  word-spacing: 1.5px;
  margin-bottom: 14px;
}

.contBtn {
  padding: 15px 28px 15px 28px;
  font-size: 13.5px;
  font-family: 'Open Sans', sans-serif;
  color: #61C1E4;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-color: #EEEE;
  margin-top: 14px;
  margin-bottom: 25px;
}

.contBtn:hover {
  background-color: #43C1F2;
  color: white;
}

.travel-footer {
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  padding-left: 30px;
  padding-top: 22px;
  font-style: italic;
  padding-right: 38.5px;
}

.travel-footer a {
  text-decoration: none;
  color: black;
}

.travel-icons a {
  text-decoration: none;
  font-size: 16px;
  border-radius: 50%;
  background-color: white;
  padding: 5px;
  margin-right: 7px;
  border-color: #EEEE;
  border-width: 1px;
  border-style: solid;
  color: #AAAAAA;
  margin-bottom: 36px;
}

.travel-icons {
  display: inline;
  padding-left: 211px;
}

.travel-icons a:hover {
  background-color: #43C1F2;
  color: white;
}

.travel-footer a:hover {
  color: #43C1F2
}

.fa-facebook::before {
  padding: 5px;
}

.aside1 {
  margin-left: 35px;
  margin-top: 55px;
  border: solid 1px #EEEEEE;
  background-color: white;
  height: 700px;
}

.reedy-river {
  width: 370px;
  height: 187px;
  position: relative;
}

.picOfBrian {
  width: 300px;
  position: absolute;
  right: 38px;
  border-radius: 50%;
  top: 99.5px;
  border: solid 4px white;
}

.aside1text {
  margin-top: 237px;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1.5px;
}

.aside1p {
  width: 300px;
  font-size: 16.6px;
  padding-left: 21px;
  margin-top: 22px;
  line-height: 1.6;
}

.aside1-icons a {
  text-decoration: none;
  font-size: 16px;
  border-radius: 50%;
  background-color: white;
  padding: 8px;
  margin-right: 3px;
  border-color: #EEEE;
  border-width: 1px;
  border-style: solid;
  color: #AAAAAA;
  margin-top: 13px;
}

.aside1-icons a:hover {
  background-color: #43C1F2;
  color: white;
}

.section-2 {
  display: inline-flex;
  position: relative;
}

.article-2 {
  display: inline-block;
  text-align: center;
  width: 777px;
  margin-left: 128px;
  margin-top: 41px;
  border: solid 1px #EEEEEE;
  background-color: white;
  position: relative;
}

.article-2>img {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.article-2:hover .artpainting {
  opacity: 1;
  filter: grayscale(50%);
}

.article-2:hover .middle {
  opacity: 1;
}

.article-2 img {
  width: 777px;
  height: 575px;
}

.artphead {
  margin-top: 43px;
  font-size: 10.5px;
  font-family: 'Open Sans', sans-serif;
  color: #61C1E4;
  font-weight: bold;
}

.article-2 h1 {
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
  margin-top: 13px;
  margin-bottom: 26px;
  letter-spacing: 1.5px;
}

.artpbody {
  font-size: 13.9px;
  font-family: 'Open Sans', sans-serif;
  line-height: 2;
  padding-left: 45px;
  padding-right: 45px;
  text-align: left;
  padding-top: 4px;
  word-spacing: 1.5px;
  margin-bottom: 10px;
}

.art-footer {
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  padding-left: 34.5px;
  padding-top: 19px;
  font-style: italic;
  padding-right: 38.5px;
}

.art-footer a {
  text-decoration: none;
  color: black;
}

.art-icons a {
  text-decoration: none;
  font-size: 16px;
  border-radius: 50%;
  background-color: white;
  padding: 5px;
  margin-right: 7px;
  border-color: #EEEE;
  border-width: 1px;
  border-style: solid;
  color: #AAAAAA;
  margin-bottom: 36px;
}

.art-icons {
  display: inline;
  padding-left: 211px;
}

.art-footer a:hover {
  color: #43C1F2
}

.art-icons a:hover {
  background-color: #43C1F2;
  color: white;
}

.greenville-drive {
  width: 307px;
  height: 175px;
}

.aside-2 {
  display: inline-block;
  text-align: center;
  margin-left: 35px;
  position: absolute;
  left: 100%;
  bottom: 33.3%;
  padding-left: 25px;
  padding-right: 32px;
  border: solid 1px #EEEEEE;
  background-color: white;
  margin-top: 40px;
  margin-top: 239px;
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
  height: 945px;
}

.aside-2 h1 {
  margin-top: 40px;
  margin-bottom: 25px;
}

.greenville-drive:hover {
  filter: grayscale(75%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.greenville-drive-date {
  text-align: start;
  font-size: 12px;
  margin-top: 17px;
  font-weight: 900;
  margin-bottom: 26px;
}

.fall-for-greenville {
  width: 307px;
  height: 175px;
  margin-top: 21px;
}

.fall-for-greenville:hover {
  filter: grayscale(75%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.fall-for-greenville-date {
  text-align: start;
  font-size: 12px;
  margin-top: 20px;
  font-weight: 900;
  margin-bottom: 26px;
}

.up-on-the-roof {
  width: 307px;
  height: 175px;
  margin-top: 21px;
}

.up-on-the-roof:hover {
  filter: grayscale(75%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.up-on-roof-date {
  text-align: start;
  font-size: 12px;
  margin-top: 20px;
  font-weight: 900;
  margin-bottom: 26px;
}

.section-3 {
  display: inline-flex;
  position: relative;
}

.article-3 img {
  width: 777px;
  height: 436px;
}

.article-3 {
  display: inline-block;
  text-align: center;
  width: 777px;
  margin-left: 128px;
  margin-top: 41px;
  border: solid 1px #EEEEEE;
  background-color: white;
  position: relative;
}

.article-3:hover img {
  opacity: 1;
  filter: grayscale(50%);
}

.article-3:hover .middle {
  opacity: 1;
}

.entertainmentphead {
  margin-top: 39px;
  font-size: 10.5px;
  font-family: 'Open Sans', sans-serif;
  color: #61C1E4;
  font-weight: bold;
}

.article-3 h1 {
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
  margin-top: 13px;
  margin-bottom: 22px;
  letter-spacing: 1.5px;
}

.entertainmentpbody {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  line-height: 2;
  padding-left: 45px;
  padding-right: 45px;
  text-align: left;
  padding-top: 4px;
  word-spacing: 1.5px;
  margin-bottom: 7px;
}

.entertainment-footer {
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  padding-left: 41px;
  padding-top: 15px;
  font-style: italic;
  padding-right: 38.5px;
}

.entertainment-footer a {
  text-decoration: none;
  color: black;
}

.entertainment-footer a:hover {
  color: #43C1F2
}

.entertainment-icons {
  display: inline;
  padding-left: 223px;
}

.entertainment-icons a {
  text-decoration: none;
  font-size: 16px;
  border-radius: 50%;
  background-color: white;
  padding: 5px;
  margin-right: 7px;
  border-color: #EEEE;
  border-width: 1px;
  border-style: solid;
  color: #AAAAAA;
  margin-bottom: 42px;
}

.entertainment-icons a:hover {
  background-color: #43C1F2;
  color: white;
}

.aside-3 {
  height: 515px;
  border: solid 1px #EEEEEE;
  background-color: white;
  position: absolute;
  left: 100%;
  margin-left: 35px;
  font-family: 'Open Sans', sans-serif;
  bottom: 80.4%;
  width: 368px;
}

.florence-opera {
  width: 102px;
  height: 80px;
  margin-left: 25px;
  margin-bottom: 3px;
}

.florence-opera:hover {
  filter: grayscale(100%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.aside-3 h1 {
  font-size: 20px;
  padding-top: 25px;
  text-align: center;
  margin-bottom: 24px;
}

.lastest-post-flex {
  display: flex;
}

.latest-post-1 {
  display: flex;
  font-size: 12px;
  flex-direction: column;
}

.modern-minimalist {
  width: 102px;
  height: 80px;
  margin-left: 25px;
  margin-bottom: 3px;
}

.modern-minimalist:hover {
  filter: grayscale(75%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.latest-post-flex-2 {
  display: flex;
}

.latest-post-2 {
  display: flex;
  font-size: 12px;
  flex-direction: column;
}

.latest-post-flex-3 {
  display: flex;
}

.ramsus-warberg-chair {
  width: 102px;
  height: 80px;
  margin-left: 25px;
  margin-bottom: 3px;
}

.ramsus-warberg-chair:hover {
  filter: grayscale(75%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.latest-post-3 {
  display: flex;
  font-size: 12px;
  flex-direction: column;
}

.latest-post-flex-4 {
  display: flex;
}

.coffee-cup {
  width: 102px;
  height: 76px;
  margin-left: 25px;
  margin-bottom: 3px;
}

.coffee-cup:hover {
  filter: grayscale(75%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.latest-post-4 {
  display: flex;
  font-size: 12px;
  flex-direction: column;
}

.aside-4 {
  width: 370px;
  height: 384px;
  border: solid 1px #EEEEEE;
  background-color: white;
  position: absolute;
  top: 23%;
  left: 100%;
  margin-left: 30px;
  text-align: center;
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
  padding-top: 24px;
}

.aside-4 h1 {
  margin-bottom: 26px;
  margin-top: 13px;
}

.aside4-pics img {
  width: 99px;
  height: 93px;
  margin-right: 4px;
  margin-bottom: 7px;
}
.aside4-pics img:hover{
  filter: grayscale(75%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.section-4 {
  display: inline-flex;
  position: relative;
}

.article-4 img {
  width: 777px;
  height: 516px;
}

.article-4 {
  display: inline-block;
  text-align: center;
  width: 777px;
  margin-left: 128px;
  margin-top: 41px;
  border: solid 1px #EEEEEE;
  background-color: white;
  position: relative;
}

.article-4:hover img {
  opacity: 1;
  filter: grayscale(75%);
}

.article-4:hover .middle {
  opacity: 1;
}

.foodphead {
  margin-top: 39px;
  font-size: 10.5px;
  font-family: 'Open Sans', sans-serif;
  color: #61C1E4;
  font-weight: bold;
  margin-bottom: 11px;
}

.article-4 h1 {
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
  margin-top: 13px;
  margin-bottom: 22px;
  letter-spacing: 1.5px;
}

.foodpbody {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  line-height: 2;
  padding-left: 45px;
  padding-right: 45px;
  text-align: left;
  padding-top: 4px;
  word-spacing: 1.8px;
  margin-bottom: 6px;
}

.food-footer {
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  padding-left: 41px;
  padding-top: 15px;
  font-style: italic;
  padding-right: 38.5px;
}

.food-footer a {
  text-decoration: none;
  color: black;
}

.food-footer a:hover {
  color: #43C1F2
}

.food-icons {
  display: inline;
  padding-left: 232px;
}

.food-icons a {
  text-decoration: none;
  font-size: 16px;
  border-radius: 50%;
  background-color: white;
  padding: 5px;
  margin-right: 10px;
  border-color: #EEEE;
  border-width: 1px;
  border-style: solid;
  color: #AAAAAA;
  margin-bottom: 41px;
}

.food-icons a:hover {
  background-color: #43C1F2;
  color: white;
}

.page-footer {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  color: white;
  background-color: black;
  padding: 24.5px 0px 24.5px 0px;
}

@media only screen and (max-width: 414px) {
  .container-1 {
    padding: 21px;
    width: 91%;
    display: flex;
    justify-content: flex-end;
    margin-right: 0px;
  }

  .leftarticle {
    width: 486px;
  }

  .travel {
    width: 470px;
    margin-left: 14px;
    margin-top: 50px;
    height: 824px;
  }

  .travel>img {
    width: 470px;
    height: 293px;
  }

  .travel>h1 {
    font-size: 22px;
    margin-bottom: -14px;
  }

  .travelphead {
    margin-top: 37px;
  }

  .left-nav {
    display: none;
  }

  .right-nav {
    display: none;
  }

  .contBtn {
    padding: 14px 25px 14px 25px;
    margin-top: 11px;
  }

  .travelpbody {
    font-size: 13px;
    word-spacing: 2.5px;
  }

  .travel-icons {
    padding-top: 28px;
    text-align: end;
    padding-left: 151px;
  }

  .travel-icons a {
    margin-right: 8px;
    margin-top: 27px;
  }

  .travel-footer {
    display: block;
    font-size: 12px;
    text-align: start;
    padding-left: 44.5px;
    padding-top: 20px;
  }

  .section-2 {
    width: 486px;
  }

  .article-2 {
    width: 470px;
    margin-left: 14px;
    margin-top: 40px;
    height: 933px;
  }

  .article-2>img {
    width: 470px;
    height: 350px;
  }

  .artphead {
    margin-top: 36px;
  }

  .artpbody {
    font-size: 13px;
    word-spacing: 2.5px;
  }

  .article-2>h1 {
    font-size: 22px;
    margin-bottom: 23px;
  }

  .artpbody {
    font-size: 13px;
    word-spacing: 4.5px;
  }

  .art-footer {
    display: block;
    font-size: 12px;
    text-align: start;
    padding-left: 44.5px;
    padding-top: 21px;
  }

  .art-icons {
    padding-top: 27px;
    text-align: end;
    padding-left: 151px;
  }

  .art-icons a {
    margin-right: 8px;
    margin-top: 27px;
  }

  .article-3 {
    width: 470px;
    margin-left: 14px;
    margin-top: 40px;
    height: 819px;
  }

  .article-3>img {
    width: 470px;
    height: 263px;
  }

  .article-3>h1 {
    font-size: 23px;
  }

  .section-3 {
    width: 486px;
  }

  .entertainmentphead {
    margin-top: 36px;
  }

  .entertainmentpbody {
    font-size: 13px;
    word-spacing: 2.5px;
    margin-bottom: 13px;
  }

  .entertainment-footer {
    display: block;
    font-size: 12px;
    text-align: start;
    padding-left: 44.5px;
    padding-top: 21px;
  }

  .entertainment-icons {
    padding-top: 27px;
    text-align: end;
    padding-left: 151px;
  }

  .entertainment-icons a {
    margin-right: 8px;
    margin-top: 27px;
  }

  .section-4 {
    width: 486px;
  }

  .article-4 {
    width: 470px;
    margin-left: 14px;
    margin-top: 40px;
    height: 909px;
  }

  .article-4>img {
    width: 470px;
    height: 352px;
  }

  .article-4>h1 {
    font-size: 21px;
    margin-top: 15px;
  }

  .foodphead {
    margin-top: 36px;
  }

  .foodpbody {
    word-spacing: 0px;
    margin-bottom: -3px;
  }

  .food-footer {
    display: block;
    font-size: 12px;
    text-align: start;
    padding-left: 40px;
    padding-top: 18px;
  }

  .food-icons {
    display: inline-block;
    padding-top: -2px;
    text-align: end;
    padding-left: 160px;
  }

  .food-icons a {
    margin-right: 7px;
    margin-top: 31px;
  }

  .aside1 {
    position: relative;
    top: 3645px;
    width: 470px;
    display: block;
    right: 104%;
    height: 711px;
  }

  .reedy-river {
    width: 471px;
    height: 183px;
  }

  .picOfBrian {
    width: 398px;
    right: 34px;
    top: 103px;
  }

  .aside1text {
    margin-top: 343px;
    margin-bottom: 0px;
  }

  .aside1p {
    width: 376px;
    font-size: 14px;
    padding-left: 49px;
    margin-bottom: -19px;
    margin-top: 22px;
  }

  .aside1-icons a {
    margin-right: 1px;
  }

  .page-footer {
    margin-top: 39px;
    position: relative;
    top: 3693px;
    padding: 21.4px 0px 21.4px 0px;
    font-size: 15px;
  }

  .aside-2 {
    margin-left: 0;
    left: 3%;
    width: 406px;
    top: 3572px;
    margin-top: 0;
    height: 1226px;
  }

  .aside-2 h1 {
    margin-top: 33px;
  }

  .greenville-drive {
    width: 408px;
    height: 304px;
  }

  /* .greenville-drive-date {
    display: none;
  } */
  .aside-2>hr:first-of-type {
    display: none;
  }

  .fall-for-greenville {
    margin-top: 24px;
    width: 408px;
    height: 302px;
  }

  .fall-for-greenville-date {
    margin-top: 17px;
  }

  .up-on-the-roof {
    width: 408px;
    height: 301px;
  }

  .up-on-roof-date {
    margin-top: 17px;
  }

  .aside-3 {
    width: 466px;
    top: 3859px;
    left: -18px;
    height: 463px;
  }

  .aside-3 h1 {
    margin-bottom: 21px;
  }

  .florence-opera {
    width: 99px;
    height: 67px;
    margin-top: 4px;
  }

  .modern-minimalist {
    width: 99px;
    height: 67px;
  }

  .ramsus-warberg-chair {
    width: 99px;
    height: 67px;
  }

  .coffee-cup {
    width: 99px;
    height: 67px;
  }

  .aside-4 {
    width: 466px;
    top: 4357px;
    left: -14px;
    height: 1127px;
  }

  .aside-4 h1 {
    margin-bottom: 22px;
  }

  .aside4-pics img {
    width: 200px;
    height: 200px;
    padding-bottom: 6px;
  }

  .last-avatar-pic {
    display: flex;
    padding-left: 27px;
  }

  .latest-post-2 p {
    margin-bottom: 10px;
  }

  .latest-post-3 p {
    margin-bottom: 6px;
  }

  #hamnav label {
    display: inline-block;
    color: #888888;
    background: white;
    font-style: normal;
    font-size: 1.2em;
    padding: 6px 14px 6px 14px;
    margin-right: 40px;
    border: solid 1px #888888;
    border-radius: 2px;
  }
}
